
/*________________________________________________________Chatbot________________________________________________________*/

.button_chatbot{
    display: block;
    position: fixed;
    justify-content: center;
    align-items: center;
    right: 4%;
    bottom: 8%;
    width: 65px;
    height: 65px;
    border: 0;
    border-radius: 65px;
    text-align: center;
    background: linear-gradient(to right, #94C942, #609d00);
    /*background: linear-gradient(to right, #c01824, #e84432);*/
    color: white;
    cursor: pointer;
    font-size: 26px;
    transition: 0.25s;
}

.button_chatbot:hover{
    transform: scale(1.2,1.2);
}

/*______________________________________________________________CHATBOT______________________________________________________________*/

.chatbot{
    display: none;
    right: 4%;
    bottom: 8%;
    position: fixed;
    width: 350px;
    height: 80vh;
    min-height: 405px;
    max-height: 640px;
    min-width: 310px;
    background-color: white;
    border-radius: 8px;
    z-index: 10;
    border-radius: 20px;
}

/* Info chatbot */

.info_chatbot{
    height: 60px;
    width: 100%;
    background: linear-gradient(to right, #94C942, #609d00);
    /*background: linear-gradient(to right, #c01824, #e84432);*/
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.info_chatbot span{
    color: white;
    margin-left: 20px;
}

.info_chatbot input{
    width: 32px;
    height: 32px;
    margin: 14px 0 0 calc(80% - 122px);
    border-radius: 50%;
    font-size: 26px;
    color: white;
    border: solid white 1px;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Parisine STD", sans-serif, Arial, sans-serif;
    vertical-align: bottom;
    transition: 0.25s;
}

.info_chatbot input:hover{
    background-color: #db3227;
    /*background-color: #c01824;*/
    transform: scale(1.2,1.2);
    cursor: pointer;
}

/* Liste des messages */

.liste_messages{
    display: block;
    height: calc(100% - 208px);
    overflow: auto;
    transition: 0.35s;
}

.message{
    position: relative;
    width: 100%;
}

.message_absolute_box_flexbox{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* bot messages */

.bot_message img{
    width: 60%;
    height: auto;
}

.message_absolute_box_bot{
    position: absolute;
    width: 60px;
    height: 100%;
}

.message_text_bot{
    display: inline-block;
    margin: 15px;
    margin-left: 60px;
    padding: 20px;
    width: calc(80% - 60px);
    background-color: #F5F5F5;
    border-radius: 8px;
    font-size: 0.8em; 
}

/* user messages */

.message_absolute_box_user{
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
}

.message_text_user{
    display: inline-block;
    margin: 15px;
    margin-right: 60px;
    padding: 20px;
    width: calc(80% - 60px);
    /*background: linear-gradient(to right, #ff9797, #ffc4bd);*/
    background: linear-gradient(to right, #ceff84, #a5e445);
    border-radius: 8px;
    font-size: 0.8em; 
}

.user_message img{
    width: 60%;
}

.separateur{
    width: 100%;
    height: 2px;
    /*background: linear-gradient(to left, #c01824, #e84432);*/
    background: linear-gradient(to left, #94C942, #609d00);
}

/* zone réponse */

.zone_reponse{
    /*height: 206px;*/
    width: 100%;
    overflow: auto;
    background-color: #f0f0f0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 20px;
}

.flexbox{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    height: 146px;
    overflow: hidden;
    transition: 0.35s;
    /*flex-direction: column;*/
}

.flexbox .bouton_reponse{
    width: 80%;
    margin: 2px 5px;
    padding: 9px 10px;
    border: none;
    border-radius: 2px;
    font-size: 0.8em;
    background: linear-gradient(to right, #ceff84, #a5e445);
    /*background-color: #bdd1ff;*/
    transition: 0.25s;
    border-radius: 50px;
}

.flexbox .bouton_reponse:hover{
    transform: scale(1.05,1.05);
    cursor: pointer;
}

.ouvrir_chatbot{
    padding: 10px 30px;
    border: 0;
    border-radius: 50px;
    color: white;
    transition: 0.25s;
    cursor: pointer;
    /*background: linear-gradient(to right, #c01824, #e84432);*/
    background: linear-gradient(to right, #94C942, #609d00);
}

.ouvrir_chatbot:hover{
    transform: scale(1.1,1.1);
}

/* Scrollbar chat */

.liste_messages::-webkit-scrollbar {
    width: 10px;
}

.liste_messages::-webkit-scrollbar-track {
    /*background: linear-gradient(to top, #c01824, #e84432);*/
    background: linear-gradient(to top, #94C942, #609d00);
}
 
.liste_messages::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px black;
    background: linear-gradient(to top, #e5e5e5, white);
}

/* Scrollbar conteneur boutons */

.flexbox::-webkit-scrollbar {
    width: 10px;
}

.flexbox::-webkit-scrollbar-track {
    /*background: linear-gradient(to top, #e84432, #c01824);*/
    background: linear-gradient(to bottom, #94C942, #609d00);
}
 
.flexbox::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px black;
    background: linear-gradient(to top, #e5e5e5, white);
}

/* bouton d'affichage du formualaire */

.button_form {
    /*background: linear-gradient(to top, #e84432, #c01824);*/
    background: linear-gradient(to right, #94C942, #609d00);
    width: 120px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    color: white;
    transition: 0.25s;
}

.button_form:hover {
    cursor: pointer;
    transform: scale(1.1,1.1);
}

/* Formulaire */

.first_content_form{
    width: 100%;
    height: 50px;
    margin-top: -12px;
}

.title_form_div{
    display: inline-block;
    margin-left: 95px;
}

.button_form_div{
    display: inline-block;
}

.exit_form{
    width: 32px;
    height: 32px;
    border: 0;
    border-right: 2px solid #609d00 /*#e84432*/;
    border-bottom: 2px solid  #609d00 /*#e84432*/;
    color: white;
    background-color:  #609d00 /*#e84432*/;
    transition: 0.25s;
    cursor: pointer;
}

.exit_form:hover{
    color: #609d00 /*#e84432*/;
    background-color: white;
}

.title_form{
    font-size: 1em;
    text-align: center;
}

.chat_form{
    display: block;
    width: 100%;
    margin: 0 10px;
}

.chat_form_section_1{
    display: inline-block;
    width: 42%;
    height: 100%;
    vertical-align: top;
}

.chat_form_section_2{
    display: inline-block;
    width: 58%;
    height: 100%;
    vertical-align: top;
}

.form_label {
    margin-top: 8px;
    display: block;
    font-size: 0.8em;
    color: #5b9400 /*#b9000d*/;
}

.input_form{
    width: 120px;
    height: 18px;
}

.textarea_form{
    width: 185px;
    max-width: 185px;
    height: 90px;
    max-height: 90px;
}

.button_chat_form_submit{
    padding: 6px 30px;
    border: 0;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    /*background: linear-gradient(to right, #c01824, #e84432);*/
    background: linear-gradient(to right, #94C942, #609d00);
    transition: 0.25s;
}

.button_chat_form_submit:hover{
    transform: scale(1.1, 1.1);
}

@media screen and (max-width:400px){

    .chatbot{
        right: 0%;
        width: 96%;
        margin: 0 2%;
    }

}

@media screen and (max-width:350px){

    .info_chatbot input{
        margin: 14px 0 0 calc(75% - 122px);
    }

}